<mat-toolbar>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <img src="../../../assets/Top Nav image/TmCardsLogo.png" width="60" class="img-fluid" alt="">
            </div>
            <div class="col d-flex">
                <div class="row title">
                    <div class="col mt-1">
                        <img src="../../../assets/Top Nav image/profile.png" width="60" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-toolbar>